
.vscode/launch.json
.vscode/tasks.json
test.txt
output
a.out
FileIO.h.gch
hash.h.gch
SysLogFormatter.h.gch
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/launch
*.gch
main
4913
5036
*.gch
sysCalls.h.gch
sysCalls.h.gch
sysCalls.h.gch
IDS.sql
5282
5159
.compile_command.swpx
sysCalls.h.gch
